* {
  margin: 0;
  padding: 0; }

body {
  margin: 0 auto;
  font-size: 62.5%;
  color: #4e4e4e; }

@font-face {
  font-family: "Title";
  src: url("/assets/LinLibertine_DR.ttf"); }
@font-face {
  font-family: "Paragraph";
  src: url("/assets/Aileron-Light.otf"); }
/******************************************************************/
h1 {
  font-family: "Title", "Georgia", "Times", serif;
  font-size: 6.0em;
  letter-spacing: 0.03em; }

h2 {
  font-family: "Title", "Georgia", "Times", serif;
  font-size: 3.4em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #0059D4; }

p {
  font-family: "Paragraph";
  font-size: 1.8em;
  letter-spacing: 0.03em;
  margin-top: 1em;
  line-height: 1.5rem; }

p.caption {
  line-height: 1.2rem; }

img {
  width: 120%;
  height: auto; }

/******************************************************************/
header {
  width: 100%;
  height: 100%;
  color: #0059D4; }
  header .background {
    height: 100vh; }
    header .background div {
      display: inline-block;
      height: 100%;
      width: 50%;
      overflow: hidden; }
    header .background .leftImage {
      background: url(../images/header/texture.jpg);
      background-size: 100%;
      text-align: right; }
    header .background .rightImage {
      background: #0059D4;
      text-align: left; }
      header .background .rightImage img {
        opacity: 0.4; }
    header .background img {
      height: 100vh;
      width: auto;
      text-align: center;
      vertical-align: center; }
  header .content {
    position: absolute;
    top: 20vh;
    left: 50vw; }
    header .content h1, header .content h2 {
      padding: 0 1rem;
      background: white;
      margin-bottom: 0.8rem;
      display: inline-block; }
    header .content h2 {
      text-transform: uppercase; }
    header .content #menu {
      position: relative;
      color: white; }
    header .content li {
      padding: 0.2rem 0.6rem 0.3rem 1rem;
      border-top: 2px solid white;
      display: inline-block;
      list-style: none;
      font-family: "Paragraph";
      font-size: 1.2rem;
      letter-spacing: 0.08rem; }
    header .content li a {
      color: white;
      text-decoration: none; }
    header .content li:hover a,
    header .content li:hover {
      cursor: pointer;
      color: #FFCE00; }
    header .content li:hover {
      border-top: 2px solid #FFCE00; }

section {
  display: inline-block;
  width: 100%;
  padding: 4rem 0 5rem 0;
  background: linear-gradient(to top, #eee, #fff); }
  section .content {
    width: 60vw; }
  section .alignRight {
    position: relative;
    left: 40vw; }
    section .alignRight p {
      padding-right: 150px; }
      section .alignRight p a {
        text-decoration: none;
        border-bottom: 1px solid #0059D4;
        color: #0059D4; }
      section .alignRight p a:hover {
        background: #FFCE00; }
    section .alignRight p.caption {
      position: absolute;
      text-align: right;
      left: -30vw;
      width: 28vw;
      padding-right: 0px;
      color: #0059D4;
      font-size: 1.4em;
      margin-top: 1em;
      margin-bottom: 3em; }
    section .alignRight h2 {
      border-top: 3px solid #0059D4;
      position: absolute;
      top: 6px;
      text-align: right;
      padding-top: 1rem;
      right: 60vw;
      width: 30vw;
      margin-right: 2rem; }
  section .images {
    text-align: center;
    margin: 2rem 0 0rem 0;
    width: 100vw;
    position: relative;
    right: 40vw; }
    section .images img {
      height: 600px;
      width: auto;
      margin-top: 0;
      margin-bottom: 0; }
  section img {
    width: 100%;
    margin-top: 4em;
    margin-bottom: 2em; }
  section blockquote {
    padding-left: 2rem;
    border-left: 2px solid #0059D4; }
  section .colour {
    color: #0059D4; }

section#header {
  padding-top: 40px;
  background: white;
  padding-bottom: 40px;
  background: url(../images/header/fundy_narrow_long.jpg);
  background-size: 100%; }
  section#header a {
    width: 100%;
    height: 100%;
    background: red;
    text-decoration: none; }
    section#header a h1, section#header a h2 {
      color: #0059D4;
      background: white;
      padding: 0 1rem;
      display: inline-block;
      margin-bottom: 10px; }
    section#header a h1 {
      font-size: 4em; }
    section#header a h2 {
      font-size: 2.5em; }

section#guestBook p {
  margin-bottom: 50px; }
section#guestBook form {
  font-family: 'Title'; }
  section#guestBook form span {
    position: relative;
    color: #0059D4;
    font-size: 1.6em; }
  section#guestBook form input {
    width: 15rem;
    padding: 5px;
    font-family: 'Paragraph';
    font-size: 1.6em;
    margin-bottom: 20px; }
  section#guestBook form div#submit {
    position: absolute;
    width: 80px;
    padding: 5px;
    letter-spacing: 1px;
    font-family: 'Paragraph';
    text-align: center;
    font-size: 1.6em;
    background: #0059D4;
    color: white;
    right: 12vw;
    bottom: -40px; }
  section#guestBook form div#submit:hover {
    border-top: 2px solid #0059D4;
    color: #0059D4;
    background: #FFCE00;
    cursor: pointer; }
  section#guestBook form textarea {
    width: 80%;
    padding: 5px;
    font-family: 'Paragraph';
    font-size: 1.6em; }

#messages {
  width: 80vw;
  margin: 0 auto; }
  #messages div {
    border-top: 2px solid #0059D4;
    margin-top: 50px;
    margin-bottom: 150px; }
    #messages div p {
      display: inline-block;
      vertical-align: top; }
    #messages div p.who {
      width: 20%;
      color: #0059D4;
      font-family: "Title", "Georgia", "Times", serif, "Georgia", "Times", serif; }
    #messages div p.comment {
      letter-spacing: 1px;
      padding-left: 5%;
      width: 75%; }

section.guestBook {
  background: #0059D4;
  color: white;
  text-align: center; }
  section.guestBook p a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white; }
  section.guestBook p a:hover {
    background: #FFCE00;
    color: #0059D4;
    border-bottom: 1px solid #0059D4; }

/**************************************************** MOBILE */
@media only screen and (max-device-width: 480px) {
  header .background .leftImage {
    background: #0059D4;
    width: 100vw;
    height: 100vh; }
    header .background .leftImage img {
      opacity: 0.5; }
  header .background .rightImage {
    display: none; }
  header .content {
    width: 80vw;
    left: 0px; }
    header .content h1 {
      font-size: 6.2rem; }
    header .content h2 {
      font-size: 4rem; }
    header .content #menu {
      width: 100vw; }
    header .content li {
      border-top: 5px solid white;
      font-size: 2.6rem; }
    header .content li:hover {
      border-top: 5px solid #FFCE00; }

  section .content {
    width: 80vw;
    left: 10vw; }
    section .content p {
      width: 100%;
      padding-right: 0px;
      font-size: 40px;
      line-height: 54px; }
    section .content p.caption {
      position: relative;
      left: 0;
      text-align: center;
      font-size: 20px;
      line-height: 34px;
      width: 80vw; }
    section .content h2 {
      position: relative;
      left: 0px;
      text-align: left;
      width: 100%;
      font-size: 4rem;
      border-top: 6px solid #0059D4; }
    section .content .images {
      margin-top: 100px;
      left: -10vw; }
      section .content .images img {
        width: 80vw;
        height: auto; } }
/**************************************************** SMALLER SCREENS */
@media only screen and (max-width: 900px) {
  header .background .leftImage {
    background: #0059D4;
    width: 100vw;
    height: 100vh; }
    header .background .leftImage img {
      opacity: 0.4;
      width: 100%;
      height: auto; }
  header .background .rightImage {
    display: none; }
  header .content {
    text-align: right;
    width: 80vw;
    left: 20vw; }
    header .content h1, header .content h2 {
      right: 0px; }
    header .content #menu {
      width: 100%; }

  section .content {
    width: 80vw;
    left: 10vw; }
    section .content p {
      width: 100%;
      padding-right: 0px; }
    section .content p.caption {
      position: relative;
      text-align: center;
      left: 0px;
      width: 80vw; }
    section .content h2 {
      position: relative;
      left: 0px;
      text-align: left;
      width: 100%;
      margin-bottom: 50px; }
    section .content .images {
      left: -10vw; }

  section#header {
    background: url(../images/header/fundy_narrow_short.jpg);
    background-size: 100%; }

  section#guestBook form textarea {
    width: 100%; }
  section#guestBook form #submit {
    left: 0; } }
/**************************************************** BIGGER SCREENS */
@media only screen and (min-width: 1400px) {
  section .content p {
    position: relative;
    width: 800px; }
  section .content h2 {
    width: 400px; } }
