* {
  margin: 0;
  padding: 0; }

body {
  margin: 0 auto;
  font-size: 62.5%;
  color: #4e4e4e; }

@font-face {
  font-family: "Title";
  src: url("/fonts/LinLibertine_DR.ttf"); }
@font-face {
  font-family: "Paragraph";
  src: url("/fonts/Aileron-Light.otf"); }
/******************************************************************/
h1 {
  font-family: "Title";
  font-size: 6.0em;
  letter-spacing: 0.03em; }

h2 {
  font-family: "Title";
  font-size: 3.4em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #0059D4; }

p {
  font-family: "Paragraph";
  font-size: 1.8em;
  letter-spacing: 0.03em;
  margin-top: 1em; }

img {
  width: 120%;
  height: auto; }

/******************************************************************/
header {
  background: #999;
  width: 100%;
  height: 100%;
  color: #0059D4; }
  header .background {
    height: 100vh; }
    header .background div {
      display: inline-block;
      height: 100%;
      width: 50%;
      overflow: hidden; }
    header .background .leftImage {
      text-align: right; }
      header .background .leftImage img {
        opacity: 0.8; }
    header .background .rightImage {
      background: #0059D4;
      text-align: left; }
      header .background .rightImage img {
        opacity: 0.5; }
    header .background img {
      height: 100vh;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      width: auto;
      text-align: center;
      vertical-align: center; }
  header .content {
    position: absolute;
    top: 20vh;
    left: 50vw; }
    header .content h1, header .content h2 {
      padding: 0 1rem;
      background: white;
      margin-bottom: 0.8rem;
      display: inline-block; }
    header .content h2 {
      text-transform: uppercase; }
    header .content #menu {
      position: relative;
      color: white; }
    header .content li {
      padding: 0.2rem 0.6rem 0.3rem 1rem;
      border-top: 2px solid white;
      display: inline-block;
      list-style: none;
      font-family: "Paragraph";
      font-size: 1.2rem;
      letter-spacing: 0.08rem; }
    header .content li a {
      color: white;
      text-decoration: none; }
    header .content li:hover a {
      color: #FFCE00; }
    header .content li:hover {
      border-top: 2px solid #FFCE00; }

section {
  display: inline-block;
  width: 100%;
  padding: 4rem 0 5rem 0; }
  section .content {
    width: 60vw; }
  section .alignRight {
    position: relative;
    left: 40vw; }
    section .alignRight p {
      padding-right: 150px; }
    section .alignRight h2 {
      border-top: 3px solid #0059D4;
      position: absolute;
      top: 6px;
      text-align: right;
      padding-top: 1rem;
      right: 60vw;
      width: 30vw;
      margin-right: 2rem; }
  section .images {
    text-align: center;
    padding: 2rem 0 1rem 0;
    width: 100vw;
    position: relative;
    border: 1px solid red;
    right: 40vw; }
    section .images img {
      width: 40vw; }
  section blockquote {
    padding-left: 2rem;
    border-left: 2px solid #0059D4; }

section.background1 {
  background: linear-gradient(to top, #FFF9CC, #fff); }

section.background2 {
  background: linear-gradient(to top, #FFF9CC, #fff); }
