*{
	margin: 0; 
	padding: 0;
}

body{
	margin: 0 auto;
	font-size: 62.5%;
	color: #4e4e4e;
}

@font-face{
	font-family: "Title";
	src: url("/fonts/LinLibertine_DR.ttf");
}

@font-face{
	font-family: "Paragraph";
	src: url("/fonts/Aileron-Light.otf");
}

/******************************************************************/
$colourOne: #FFCE00;
$colourTwo: #0059D4;


h1{
	font-family: "Title";
	font-size: 6.0em;
	letter-spacing: 0.03em;
}

h2{
	font-family: "Title";
	font-size: 3.4em;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: $colourTwo;
}

p{
	font-family: "Paragraph";
	font-size: 1.8em;
	letter-spacing: 0.03em;
	margin-top: 1em;
	line-height: 1.5rem;
}

p.caption{
	line-height: 1.2rem;
}

img{
	width: 120%; 
	height: auto;
}

/******************************************************************/

header{
	width: 100%;
	height: 100%;
	color: $colourTwo;
	.background{
		height: 100vh;
		div{
			display: inline-block;
			height: 100%;
			width: 50%;
			overflow: hidden;
		}
		.leftImage{
			background: url(../images/header/texture.jpg);
			background-size: 100%;
			text-align: right;
		}
		.rightImage{
			background: $colourTwo;
			text-align: left;
			img{
				opacity: 0.4;	
			}
		}
		img{
			height:100vh; 
			width: auto; 
			text-align: center;
			vertical-align: center;
		}

	}
	.content{
		position: absolute;
		top: 20vh;
		left: 50vw;
		h1, h2{
			padding: 0 1rem;
			background: white;
			margin-bottom: 0.8rem;
			display: inline-block;
		}
		h2{
			text-transform: uppercase;
		}
		#menu{
			position: relative;
			color: white;
		}
		li{
			padding: 0.2rem 0.6rem 0.3rem 1rem;
			border-top: 2px solid white;
			display: inline-block;
			list-style: none;
			font-family: "Paragraph";
			font-size: 1.2rem;
			letter-spacing: 0.08rem;
		}
		li a{
			color: white;
			text-decoration: none;
		}
		li:hover a{
			color: $colourOne;
		}
		li:hover{
			border-top: 2px solid $colourOne;
		}
	}
}

section{
	$contentWidth: 60vw;
	$titleWidth: 30vw; 
	$margin: 150px;
	display: inline-block;
	width: 100%; 
	padding: 4rem 0 5rem 0;
	background: linear-gradient(to top, #eee, #fff);

	.content{
		width: $contentWidth;
	}
	.alignRight{
		position: relative;
		left: 40vw;
		p{
			padding-right: $margin;
			a{
				text-decoration: none;
				border-bottom: 1px solid $colourTwo;
				color: $colourTwo;
			}
			a:hover{
				background: $colourOne;
				// color: white;
			}
		}
		p.caption{
			position: absolute;
			text-align: right;
			left: -30vw;
			width: 28vw;
			padding-right: 0px;
			color: $colourTwo;
			font-size: 1.4em;
			margin-top: 1em;
			margin-bottom: 3em;
		}
		h2{
			border-top: 3px solid $colourTwo;
			position: absolute;
			top: 6px;
			text-align: right;
			padding-top: 1rem;
			right: $contentWidth;
			width: $titleWidth;
			margin-right: 2rem; 
		}
	}
	.images{
		text-align: center;
		margin: 2rem 0 0rem 0;
		width: 100vw;
		position: relative; 
		right: 40vw;
		img{
			height: 600px; 
			width: auto;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	img{
		width: 100%;
		margin-top: 4em;
		margin-bottom: 2em;
	}
	blockquote{
		padding-left: 2rem;
		border-left: 2px solid $colourTwo;
	}
	.colour{
		color: $colourTwo;
	}
}

/**************************************************** MOBILE */
@media only screen and (max-device-width: 480px){
	header{
		.background{
			.leftImage{
				background: $colourTwo;
				width: 100vw; 
				height: 100vh;
				img{
					opacity: 0.5;
				}
			}
			.rightImage{
				display: none;
			}
		}
		.content{
			width: 80vw; 
			left: 0px; 
			h1{
				font-size: 6.2rem;
			}
			h2{
				font-size: 4rem;
			}
			#menu{
				width: 100vw;
			}
			li{
				border-top: 5px solid white;
				font-size: 2.6rem;
			}
			li:hover{
				border-top: 5px solid $colourOne;
			}
		}
	}
	section .content{
		width: 80vw;
		left: 10vw;
		p{
			width: 100%;
			padding-right: 0px;
			font-size: 40px;
			line-height: 54px;
		}
		p.caption{
			position: relative;
			left: 0;
			text-align: center;
			font-size: 20px;
			line-height: 34px;
			width: 80vw;

			// display: inline-block;
		}
		h2{
			position: relative;
			left: 0px;
			text-align: left;
			width: 100%;
			font-size: 4rem;
			border-top: 6px solid $colourTwo;
		}
		.images{
			margin-top: 100px;
			left: -10vw; 
			img{
				width: 80vw;
				height: auto;
			}
		}

	}
}

/**************************************************** SMALLER SCREENS */

@media only screen and (max-width: 900px){
	header{
		.background{
			.leftImage{
				background: $colourTwo;
				width: 100vw; 
				height: 100vh;
				img{
					opacity: 0.4;
					width: 100%;
					height: auto;
				}
			}
			.rightImage{
				display: none;
			}
		}
		.content{

			text-align: right;
			width: 80vw; 
			left: 20vw; 
			h1, h2{
				right: 0px;
			}
			#menu{
				width: 100%;
			}
		}
	}
	section .content{
		width: 80vw;
		left: 10vw;
		p{
			width: 100%;
			padding-right: 0px;
		}
		p.caption{
			position: relative;
			text-align: center;
			left: 0px;
			width: 80vw;
		}
		h2{
			position: relative;
			left: 0px;
			text-align: left;
			width: 100%;
			margin-bottom: 50px;
		}
		.images{
			left: -10vw; 
		}
	}
}

/**************************************************** BIGGER SCREENS */

@media only screen and (min-width: 1400px){
	section .content{
		p{
			position: relative;
			width: 800px;
		}
		h2{
			width: 400px;
		}
	}
}

